/* Global */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.text-center{
	text-align: center;
}

/* Header */
#body-header{
	height: 70vh;
	background-image: linear-gradient(45deg,
              rgb(247 55 55 / 75%),
              rgb(23 185 177 / 75%)),url(../images/coding.jpg);
	background-size: cover;
	background-position : top;
	opacity: 1;
	background-attachment: fixed;
	background-color: gray;
}
nav{
	padding: 25px;
}
.horizontal-list{
	list-style: none;
	margin: 0px;
	padding: 0px;

}

.horizontal-list li{
	display: inline-block;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.horizontal-list li a:hover{
	color: lightgray;
	border-bottom: 1px solid lightgray;
	transition: color .5s, border 1s;
}

#name-social-container{
	margin-top: 10vh;
}

#my-name{
	font-size: 3em;
	color: white;
	letter-spacing: 0.1rem;
	font-weight: bold;
}
#social-icons{
	margin: 50px;
}
#social-icons ul li{
	margin-left: 15px;
	margin-right: 15px;
}
#social-icons ul li a{
	margin: 0px;
}
#social-icons ul li a img{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	transition: .1s ease-in-out;
}
#social-icons ul li a img:hover{
	box-shadow: 0px 0px 5px 5px #f4f4f4;
	transform: scale(1.1);
/*	transform: translateY(50px);*/
}
#social-icons ul li a:hover{
	border-bottom: none;
	
}
#about{
	height: auto;
}
#my-image{
	height: 15rem;
	width: 16rem;
	margin: auto;
	margin-top: -140px;
}
#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 1px 3px #f4f4f4;
}
#my-intro{
	width: 60vw;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 1.5rem;
}
#my-intro p{
	font-family: cursive;
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10vh;
}
.section-heading {
	width: auto;
	padding: 20px 10px 10px;
	margin: 10px auto;
	font-weight: 400;
}
.section-heading span{
	color: blue;
	font-size: 30px;
	display: inline-block;
	margin-right: 0.5rem;
}
.mb-75px{
	margin-bottom: 75px;
}
section h1 span img {
	height: 60px;
	width: 60px;
/*	border-radius: 50%;*/
}
#skill-logo{
	margin-bottom: -8px;
}
#contact-logo{
	height: 45px;
	width: 45px;
}
#skills{
		background-color: #d3cece40;
}

.skills-display{
	width: 60%;
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
/*	padding-left: 20%;*/
/*	padding-right: 20%;*/
	justify-content: space-between;
}

.skill-progress{
	width: 10rem;
	height: 1.9rem;
	background-color: lightgray;
	border-radius: 1.7rem;
	margin: 5px;
}
.skill-name span{
	color:  white;
	font-size: 1 rem;
	margin-left: 10%;
	display: inline-block;
	margin-top: .4rem;
}
.skill-progress>div{
	border-radius: 1.7rem 0 0 1.7rem;
	box-shadow: 2px 0 5px #888888;
}
.ninety-percent{
	width: 90%;
	height: inherit;
}
.mb-blue{
	background-color: blue;
}

#exp-logo{
	margin-bottom: -18px;
}
.timeline{
	width: 70%;
	position: relative;
}
.timeline-box{
	width: 40%;
	min-height: 150px;
	position: relative;
	margin: 5px;	
	left: 5%;
}
.timeline-box:nth-child(odd){
	left: 55%;
}

.timeline-box:nth-child(2n)::after{
	content: '';
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background-color: #a19d9d;
	position: absolute;
	top: 30%;
	right: -13.5%;
	z-index: 1;
}
.timeline-box:nth-child(2n+1)::after{
	content: '';
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background-color: #a19d9d;
	position: absolute;
	top: 30%;
	right: 111.7%;
	z-index: 1;
}

.timeline-divider{
	top: 10%;
	position: absolute;
	height: 75%;
	width: 0;
	border: 3px dashed #a19d9d85;
	left: 50%;
}

.timeline-traveler{
	position: sticky;
	top: 45%;
	height: 26px;
	width: 26px;
	transform: rotate(180deg);
	margin-left: -13px;
	z-index: 2;
}

.designation{
	text-align: right;
	color: #b86bb6;
	font-size: 1.6em;
	font-weight: 700;
/*	margin: 5px;*/
}
.organization{
	text-align: right;
	color: #d3910a;
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 5px;
}
.duration{
	text-align: right;
	color: grey;
	margin-top: 7px;
	color: #a19d9d;
}
.work-info{
	color: grey;
	margin-top: 10px;
	color: #a19d9d;
}
#education{
		background-color: #d3cece40;
}
.project-display{
	min-height: 20vh;
	width: 80%;
/*	border: 2px solid black;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.project-item{
	min-height: 15%;
	width: 20rem;
	border: .5px solid cyan;
	border-radius: 5%;
	padding: 5px;
	margin: 5px;
/*	background-color: lightgray;*/
}
.project-item > h3{
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
	margin: 10px;
	color: #d4910a;
}
.project-item > p{
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	margin: 15px;
	color: darkblue;
	max-height: 111px;
}
.project-item > button{

	font-size: 1rem;
	font-weight: 400;
	color: white;
/*	display: flex;*/
/*	justify-items: right;*/
/*	margin-right: 10px;*/
	position: relative;
	right: -70%;
	background-color: #48aaad;
	padding: 5px;
	border-style: none;
	border-radius: 7%;
/*	margin: 5px 0px;*/
}
.project-item > button a{
	text-decoration: none;
	color: white;
}
.project-item > button a:hover{
	color: whitesmoke;
}
#contact{
	color: white;
	background-image : linear-gradient(45deg, #1d1493 , #020a2e);

}
#contact-span{
	color: white;
	margin-top: 50px;

}
#contact-desc{
/*	border: 2px solid white;*/
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
#msg-box{
    display: inherit;
    /* min-height: 60px; */
    min-width: 60px; 
    width: 45%;
/*    border: 2px solid white;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
}

.contact-input{
	display: inline-block;
	background: transparent;
	height: 50px;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1rem;
}
#msg{
	margin-top: 40px;
	min-height: 100px;
	border-style: none;
	border-bottom: 2px solid white;
}
.contact-input::placeholder{
	color: #bbb7b7;
}
.contact-input:focus{
	border: none;
}

#contact-submit{
	display: inline-block;
	background: transparent;
	border: 2px solid white;
	color: white;
	font-weight: 600;
/*	padding: 1rem;*/
	height: 60px;
	width: 130px;
	max-width: 100%;
	margin: 2rem;
}
#address{
	min-height: 60px;
	min-width: 60px;
	width: 45%;
/*	border: 2px solid white;*/
	display: block;
}
.mb-17px{
	margin-bottom: 17px;
}
#address div{
	width: 100%;
}
#address div h3{
	font-size: 1.3rem;
}
.add-desc{
	color: #e1e1e1;
	font-size: 1rem;
}
.location-icon{
/*	margin-top: 5px;*/
	height: 20px;
	width: 20px;
}
@media all and (max-width: 768px){
	
}

@media all and (max-width: 500px){
	#body-header{
		max-height: 475px;
	}
	.horizontal-list li a{
		font-size : 1em;
	}
	#name-social-container{
		margin-top : 2vh;
	}
	#my-name{
		font-size : 2em;
	}
	#my-intro{
		width : 80vw;
		font-size : 1rem;
	}
	.mb-75px{
		margin-bottom: 30px;
	}
	section{
		padding-bottom : 5vh;
	}
	.skills-display{
		width : 45%;

	}
	.skill-progress{
		margin-left: auto;
    	margin-right: auto;
	}
	.section-heading span{
		font-size: 25px;
	}
	section h1 span img{
		height: 40px;
    	width: 40px;
	}
	#exp-logo {
    	margin-bottom: -7px;
	}
	.timeline {
	    width: 80%;
	    position: relative;
	}
	.timeline-box{
		width: 80%;
		margin-left: 20px;
		margin-bottom: 30px;
	}
	.timeline-box:nth-child(odd){
		left : 5%;
	}
	.designation{
		text-align: left;
	}
	.organization{
		text-align: left;
	}
	.duration{
		text-align: left;
	}
	.timeline-divider{
		left: 0%;
	}
	.timeline-box:nth-child(2n)::after{
		left: -40px;
	}
	.timeline-box:nth-child(2n+1)::after{
		right: 109.7%;
	}
}